html { 
    background: url(images/websitebackground.webp) no-repeat center center fixed; 
    background-color: #0000000a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: blur(3px) brightness(90%); 
    -webkit-backdrop-filter: blur(3px) brightness(90%);
    -o-backdrop-filter: blur(3px) brightness(90%);
    -ms-backdrop-filter: blur(3px) brightness(90%);
    -moz-backdrop-filter: blur(3px) brightness(90%);}

   

  @font-face{
   font-family:"Excelorate"; 
   src: url(fonts/Excelorate-Font.otf)
 }
 .icon {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }

h2 {font-family: "Excelorate", sans-serif;
    text-align: center;
    color:rgb(255, 255, 255);
    text-decoration: none;
    -webkit-text-stroke: 0px rgb(0, 0, 0);
    font-size: 45px;
    text-shadow: 2px 2px 4px #000000}
    .glow {
        transition: text-shadow 0.2s ease-in-out;
      }
      
      .glow:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
      }
h1 {text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 45px;
    text-align:center;
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center}
    
a:link {text-decoration: none;
        margin-right:10px;
        display: flex;
        flex-wrap:nowrap;
        justify-content: center;
        align-items: center;
        word-spacing: 5cm;
      }
    

body {font-family: "Excelorate";
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: rgb(0, 0, 0);
}
