h1 {text-align: center;}

h1 {
    color:burlywood
} 
h1 {font-size: 60px;
}
body{
    background-color:grey;
}

.photos img {
    width: 50%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
a:visited { 
    text-decoration: none; 
    color: white; 
   }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:active { text-decoration: none; color:white; }
a:visited {color:black;}
body {
    background-image: url("images/glass.png");
    background-color: #cccccc;
   }
   div, iframe {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background-color: #777;
    Display:block;
}
